language:
  - ruby
before_install:
  - sudo apt-get update -qq
  - gem install bundler -v "~>1.0"
bundler_args: --verbose
sudo: required
rvm:
  - 2.3.0
  - 2.4.5
  - 2.5.3
  - 2.6.1
  - ruby-head
gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/5.1.gemfile
  - gemfiles/5.2.gemfile
  - gemfiles/rails_edge.gemfile
before_script:
  - bundle list
  - sudo apt-get install -y wkhtmltopdf
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
env: WKHTMLTOPDF_BIN=/usr/bin/wkhtmltopdf
script:
  - bundle exec rake
matrix:
  allow_failures:
    - gemfile: gemfiles/rails_edge.gemfile
    - rvm: ruby-head
